# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
interlatent.egg-info/

# Virtual environments
.venv/
venv/
ENV/
env/

# Test & coverage artifacts
.pytest_cache/
coverage.*
.coverage
htmlcov/
.mypy_cache/

# Logs
*.log

# IDEs & editors
.idea/
.vscode/
*.swp

# OS / miscellaneous
.DS_Store
Thumbs.db

# Interlatent specific cached files
interlatent/**/__pycache__/
interlatent/**/*.py[co]
tests/**/__pycache__/

# models (transcoders and pretrained models)
pretrained
artifacts

# database
./runs